@import '~vuetify/src/stylus/main'

.default-card {
  border: 1px solid;
}

.text-responsive
  font-size 3em
  @media $display-breakpoints.xs-only
    font-size 2em
  @media $display-breakpoints.lg-and-up
    font-size 5em