<template>
    <default-form>
        <v-layout row>
            <v-flex xs7>
                <v-layout row>
                    <v-flex xs4>
                        <v-text-field box v-model="product.name" label="Naam"></v-text-field>
                    </v-flex>
                    <v-flex xs1>
                        <v-text-field box v-model="product.price" type="tel" label="Prijs"></v-text-field>
                    </v-flex>
                    <v-flex xs1>
                        <v-text-field box v-model="product.deposit" type="tel" label="Borg"></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
                <v-layout row mt-3>
                    <v-flex xs12>
                        <v-textarea auto-grow box v-model="product.description"
                                    label="Beschrijving"></v-textarea>
                    </v-flex>
                </v-layout>
                <v-layout row justify-end>
                    <v-flex xs2>
                        <v-btn color="primary" @click="buildProduct">Opslaan</v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </default-form>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        computed: {
            ...mapState('products', {
                product: 'selected_product'
            }),
            creation() {
                return ! this.product.id;
            }
        },
        methods: {
            ...mapActions('products', {
                resetSelectedProduct: 'resetSelectedProduct',
            }),
            buildProduct() {
                if (this.creation) {
                    axios.post(route('auth.products.create'), this.product).then(response => {
                        this.$router.push({name: 'auth.products.image', params: {product: response.data.id}});
                    });

                    return;
                }

                axios.put(route('auth.products.update', {product: this.product.id}), this.product).then(() => {
                    this.$router.push({name: 'auth.products'});
                });
            }
        },
        beforeDestroy() {
            this.resetSelectedProduct();
        }
    }
</script>