<template>
    <v-layout :column="$vuetify.breakpoint.mdAndUp" :row="$vuetify.breakpoint.smAndDown" align-start :justify-space-between="$vuetify.breakpoint.smAndDown">
        <v-flex>
            <span class="caption">{{ label }}</span>
        </v-flex>
        <v-flex>
            <v-rating
                    :value="score"
                    dense
                    :readonly="true"
                    background-color="grey"
                    color="yellow accent-4"
                    half-increments
                    length="5"
                    size="18"
            ></v-rating>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        props: {
            score: {
                type: Number,
                required: true,
            },
            label: {
                type: String,
                required: true
            }
        }
    }
</script>