<template>
    <div>
        <default-page>
            <search-form></search-form>
        </default-page>
        <default-page>
            <shop-overview-title>
                De populairste lachgas verkopers van Nederland
            </shop-overview-title>
            <shop-overview></shop-overview>
        </default-page>
        <default-page>
            <city-overview></city-overview>
        </default-page>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import ShopOverview from "../components/ShopComponents/ShopOverview";

    export default {
        components: {ShopOverview},
        meta() {
            return {
                title: 'Lachgas kopen - Lachgas Spot!',
                description: 'Lachgas kopen in heel Nederland, de beste lachgas bezorgers uit jou stad staan hier op, met details en recensies zodat jij er een geslaagde avond van kan maken.'
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchPopularShops: 'fetchPopularShops'
            })
        },
        created() {
            this.fetchPopularShops();
        }
    }
</script>