<template>
    <default-page>
        <template v-slot:content>
            <v-layout align-center justify-center>
                <v-flex xs12 sm8 md4>
                    <v-card class="elevation-12">
                        <v-toolbar dark color="primary">
                            <v-toolbar-title>Login</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-alert
                                    v-model="show_error"
                                    type="error"
                            >
                                Opgegeven log in gegevens zijn onbekend.
                            </v-alert>
                            <v-form>
                                <v-text-field prepend-icon="person"
                                              name="username"
                                              label="E-mail"
                                              type="text"
                                              v-model="email"
                                              @keydown.enter="login"
                                ></v-text-field>
                                <v-text-field prepend-icon="lock"
                                              label="Wachtwoord"
                                              type="password"
                                              v-model="password"
                                              @keydown.enter="login"
                                ></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" @click="login">Login</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </template>
    </default-page>
</template>

<script>
    export default {
        meta() {
            return {
                title: 'Login - Lachgas Spot!'
            }
        },
        data() {
            return {
                email: '',
                password: '',
                show_error: false
            }
        },
        methods: {
            login() {
                axios.post(route('login'), {
                    email: this.email,
                    password: this.password
                }).then(() => {
                    window.location.href = '/auth/shops';
                }).catch(() => {
                    this.show_error = true;
                    this.email = '';
                    this.password = '';
                });
            }
        }
    }
</script>