<template>
    <default-page>
        <shop-overview-title>
            Lachgas kopen in provincie {{ this.province.capitalize() || '' }}
        </shop-overview-title>
        <shop-overview></shop-overview>
    </default-page>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import ShopOverview from "../components/ShopComponents/ShopOverview";

    export default {
        components: {ShopOverview},
        meta() {
            return {
                title: 'Lachgas kopen in ' + this.province + ' - Lachgas Spot!',
                meta: [
                    {
                        name: 'description',
                        content: 'Lachgas kopen in ' + this.province
                            + ' - Lachgas spot. De beste lachgas bezorgers uit ' + this.province
                            + ' voor jou op een rijtje.'
                    }
                ]
            }
        },
        computed: {
            ...mapState('shops', {
                shops: 'shops'
            }),
            province() {
                return this.$route.params.province;
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShopsByProvince: 'fetchShopsByProvince'
            }),
        },
        watch: {
            province: {
                immediate: true,
                handler(province) {
                    this.fetchShopsByProvince(province);
                }
            }
        }
    }
</script>