<template>
    <default-page>
        <v-layout row wrap>
            <v-flex md6 sm12>
                <v-parallax src="/images/cities/Amsterdam.jpg" alt="Lachgas kopen Amsterdam" @click="toCity('amsterdam')">
                    <v-layout
                            align-center
                            column
                            justify-center
                    >
                        <h1 class="display-2 font-weight-thin mb-3">Amsterdam</h1>
                        <h4 class="subheading">Lachgas kopen Amsterdam!</h4>
                    </v-layout>
                </v-parallax>
            </v-flex>
            <v-flex md6 sm12>
                <v-layout column>
                    <v-flex md6 sm12>
                        <v-parallax src="/images/cities/Denhaag.jpg" height="245"  alt="Lachgas kopen Den Haag" @click="toCity('den haag')">
                            <v-layout
                                    align-center
                                    column
                                    justify-center
                            >
                                <h1 class="display-2 font-weight-thin mb-3">Den Haag</h1>
                                <h4 class="subheading">Lachgas kopen Den Haag!</h4>
                            </v-layout>
                        </v-parallax>
                    </v-flex>
                    <v-flex md6 sm12>
                        <v-parallax src="/images/cities/Almere.jpg" height="245"  alt="Lachgas kopen Almere" @click="toCity('almere')">
                            <v-layout
                                    align-center
                                    column
                                    justify-center
                            >
                                <h1 class="display-2 font-weight-thin mb-3">Almere</h1>
                                <h4 class="subheading">Lachgas kopen Almere!</h4>
                            </v-layout>
                        </v-parallax>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex md4 sm6>
                <v-parallax src="/images/cities/Rotterdam.jpg" height="245" alt="Lachgas kopen Rotterdam" @click="toCity('rotterdam')">
                    <v-layout
                            align-center
                            column
                            justify-center
                    >
                        <h1 class="display-2 font-weight-thin mb-3">Rotterdam</h1>
                        <h4 class="subheading">Lachgas kopen Rotterdam!</h4>
                    </v-layout>
                </v-parallax>
            </v-flex>
            <v-flex md4 sm6>
                <v-parallax src="/images/cities/Eindhoven.jpg" height="245"  alt="Lachgas kopen Eindhoven" @click="toCity('eindhoven')">
                    <v-layout
                            align-center
                            column
                            justify-center
                    >
                        <h1 class="display-2 font-weight-thin mb-3">Eindhoven</h1>
                        <h4 class="subheading">Lachgas kopen Eindhoven!</h4>
                    </v-layout>
                </v-parallax>
            </v-flex>
            <v-flex md4 sm12>
                <v-parallax src="/images/cities/Utrecht.jpg" height="245" alt="Lachgas kopen Utrecht" @click="toCity('utrecht')">
                    <v-layout
                            align-center
                            column
                            justify-center
                    >
                        <h1 class="display-2 font-weight-thin mb-3">Utrecht</h1>
                        <h4 class="subheading">Lachgas kopen Utrecht!</h4>
                    </v-layout>
                </v-parallax>
            </v-flex>
        </v-layout>
    </default-page>
</template>

<script>
    export default {
        methods: {
            toCity(city) {
                this.$router.push({name: 'shops.city.overview', params: {city: city}});
            }
        }
    }
</script>