<template>
    <default-form>
        <v-layout row>
            <v-flex xs7>
                <v-layout row>
                    <v-flex xs4>
                        <v-text-field box v-model="city.name" label="Naam"></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                        <v-select box v-model="city.province_id" label="Provincie" :items="provinces" item-value="id"
                                  item-text="name"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
                <v-layout row justify-end>
                    <v-flex xs2>
                        <v-btn color="green" @click="buildCity">Opslaan</v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </default-form>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        computed: {
            ...mapState('cities', {
                city: 'selected_city'
            }),
            ...mapState('provinces', {
                provinces: 'provinces'
            }),
            creation() {
                return !this.city.id;
            }
        },
        methods: {
            ...mapActions('cities', {
                resetSelectedCity: 'resetSelectedCity',
            }),
            ...mapActions('provinces', {
                fetchAllProvinces: 'fetchAllProvinces',
            }),
            buildCity() {
                if (this.creation) {
                    axios.post(route('auth.city.create'), this.city).then(() => {
                        this.$router.push({name: 'auth.cities'});
                    });

                    return;
                }

                axios.put(route('auth.city.update', {city: this.city.id}), this.city).then(() => {
                    this.$router.push({name: 'auth.cities'});
                });
            }
        },
        created() {
            this.fetchAllProvinces();
        },
        beforeDestroy() {
            this.resetSelectedCity();
        }
    }
</script>