<template>
    <v-layout row wrap justify-space-around mt-3>
        <v-flex md3 xs6 v-for="(image, index) in shop.images" :key="index">
            <v-img :src="image" width="300"></v-img>
        </v-flex>
    </v-layout>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            })
        },
        methods: {
            ...mapActions('shops', {
                fetchShop: 'fetchShop'
            })
        },
        created() {
            if (! this.shop.id) {
                this.fetchShop(this.$route.params.shop);
            }
        }
    }
</script>