<template>
    <default-card>
        <template v-slot:title>
            Contact informatie
        </template>
        <template v-slot:card-content>
            <v-list>
                <v-list-tile>
                    <v-layout row align-center>
                        <v-flex xs2>
                            <v-icon>phone</v-icon>
                        </v-flex>
                        <v-flex xs5 offset-xs1>
                            <b>{{ shop.phone_number }}</b>
                        </v-flex>
                    </v-layout>
                </v-list-tile>
                <v-list-tile>
                    <v-layout row align-center mb-3>
                        <v-flex xs2>
                            <v-icon>home</v-icon>
                        </v-flex>
                        <v-flex xs5 offset-xs1>
                            <span class="caption">
                            {{ shop.street }} {{ shop.house_number }}
                            <br/>
                            {{ shop.postal_code }} {{ shop.city.name }}
                            </span>
                        </v-flex>
                    </v-layout>
                </v-list-tile>
            </v-list>
        </template>
    </default-card>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            })
        }
    }
</script>