<template>
    <v-layout row wrap justify-space-around>
        <v-flex md3 xs12 v-for="shop in shops" :key="shop.id" my-5>
            <shop-card :shop="shop"></shop-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import {shuffle} from "lodash";

    export default {
        props: {
            populair: {
                required: false,
                type: Boolean,
                default: false
            },
            amount: {
                required: true,
                type: Number
            }
        },
        computed: {
            ...mapState('shops', {
                all_shops: 'shops',
                shop: 'selected_shop'
            }),
            shops() {
                return shuffle(this.all_shops).filter(shop => shop.id !== this.shop.id).slice(0, this.amount);
            }
        },
        watch: {
            shop: {
                immediate: true,
                handler(shop) {
                    if (this.populair) {
                        return this.fetchPopularShops();
                    }

                    if (!! shop.id) {
                        return this.fetchShopsByCity(this.shop.city.name.toLowerCase());
                    }

                }
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShopsByCity: 'fetchShopsByCity',
                fetchPopularShops: 'fetchPopularShops'
            })
        },
    }
</script>

<style scoped>

</style>