<template>
    <v-container>
        <v-form>
            <v-layout row>
                <v-flex xs10 offset-xs1>
                    <v-layout row v-show="show_alert">
                        <v-flex xs10 offset-xs1>
                            <v-alert :value="true" color="green">
                                Recensie zal worden beoordeeld en dan toegevoegd!
                            </v-alert>
                        </v-flex>
                    </v-layout>
                    <v-layout row justify-space-around>
                        <v-flex xs5>
                            <b>Service</b>
                        </v-flex>
                        <v-flex xs7>
                            <v-rating
                                    v-model="ratings.service"
                                    background-color="grey"
                                    color="yellow accent-4"
                                    half-increments
                                    :dense="$vuetify.breakpoint.smAndDown"
                                    length="5"
                                    size="18"
                            ></v-rating>
                        </v-flex>
                    </v-layout>
                    <v-layout row justify-space-around>
                        <v-flex xs5>
                            <b>Kwaliteit</b>
                        </v-flex>
                        <v-flex xs7>
                            <v-rating
                                    v-model="ratings.quality"
                                    background-color="grey"
                                    color="yellow accent-4"
                                    half-increments
                                    :dense="$vuetify.breakpoint.smAndDown"
                                    length="5"
                                    size="18"
                            ></v-rating>
                        </v-flex>
                    </v-layout>
                    <v-layout row justify-space-between>
                        <v-flex xs5>
                            <b>Prijs</b>
                        </v-flex>
                        <v-flex xs7>
                            <v-rating
                                    v-model="ratings.price"
                                    background-color="grey"
                                    color="yellow accent-4"
                                    half-increments
                                    :dense="$vuetify.breakpoint.smAndDown"
                                    length="5"
                                    size="18"
                            ></v-rating>
                        </v-flex>
                    </v-layout>
                    <v-layout my-4>
                        <v-divider></v-divider>
                    </v-layout>
                    <v-layout row justify-space-between>
                        <v-flex xs6>
                            <v-text-field box
                                          label="Naam"
                                          v-model="name"
                                          :disabled="anonymous"
                                          :error="error.name"
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs4 md2>
                            <v-checkbox box
                                        label="Anoniem"
                                        v-model="anonymous"
                            ></v-checkbox>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs6>
                            <v-text-field box
                                          label="E-mail"
                                          v-model="email"
                                          :error="error.email"
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-textarea box
                                        auto-grow
                                        v-model="comment"
                                        label="Recensie"
                                        :error="error.comment"
                            ></v-textarea>
                        </v-flex>
                    </v-layout>
                    <v-layout row :justify-end="$vuetify.breakpoint.mdAndUp" :justify-start="$vuetify.breakpoint.smAndDown">
                        <v-flex xs2>
                            <v-btn @click="saveReview"
                                   color="#1e88e5"
                                   style="color:white;"
                            >Plaats recensie</v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        data() {
            return {
                name: '',
                email: '',
                comment: '',
                error: {
                    name: false,
                    email: false,
                    comment: false,
                },
                ratings: {
                    service: 0,
                    price: 0,
                    quality: 0
                },
                anonymous: false,
                show_alert: false,
            }
        },
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            }),
            valid() {
                return Object.values(this.error).every(value => {
                    return value;
                });
            }
        },
        watch: {
            anonymous(anonymous) {
                if (anonymous) {
                    this.name = 'Anoniem';
                    return;
                }

                this.name = '';
            }
        },
        methods: {
            validate() {
                this.error.name = this.name.length === 0;
                this.error.email = this.email.length === 0;
                this.error.comment = this.comment.length === 0;
            },
            saveReview() {
                this.validate();

                if (this.valid) {
                    return;
                }

                axios.post(route('shop.review.create', {shop: this.shop.id}), {
                    name: this.name,
                    email: this.email,
                    quality: this.ratings.quality,
                    service: this.ratings.service,
                    price: this.ratings.price,
                    comment: this.comment
                }).then(() => {
                    this.show_alert      = true;
                    this.name            = '';
                    this.description     = '';
                    this.email           = '';
                    this.comment         = '';
                    this.ratings.quality = 0;
                    this.ratings.price   = 0;
                    this.ratings.service = 0;

                    this.$emit('review-created');

                    setTimeout(() => this.show_alert, 3000)
                });
            }
        }
    }
</script>