<template>
    <default-card>
        <template v-slot:title>Omschrijving</template>
        <template v-slot:card-content>
            <v-layout column justify-space-between>
                <v-flex xs4>
                    <slot name="before-description"></slot>
                </v-flex>
                <v-flex xs4>
                    <blockquote class="blockquote">
                        {{ shop.description }}
                    </blockquote>
                </v-flex>
                <v-flex xs4>
                    <slot></slot>
                </v-flex>
            </v-layout>
        </template>
    </default-card>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            })
        }
    }
</script>