<template>
    <v-sheet
            class="d-flex"
            color="grey lighten-5"
    >
        <v-layout align-center justify-space-around my-3>
            <v-flex xs1 v-show="$vuetify.breakpoint.mdAndUp">
                <v-avatar size="60px">
                    <v-img src="/images/avatar.png"></v-img>
                </v-avatar>
            </v-flex>
            <v-flex xs9>
                <v-layout row wrap>
                    <v-flex xs12 md8>
                        <span :class="{'display-1':  $vuetify.breakpoint.mdAndUp, 'headline': $vuetify.breakpoint.smAndDown}">{{ review.name }}</span>
                    </v-flex>
                    <v-flex xs12 my-3>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
                <v-layout row wrap align-center justify-center>
                    <v-flex md4 xs10>
                        <shop-rating :score="review.price" label="Prijs"></shop-rating>
                    </v-flex>
                    <v-flex md4 xs10>
                        <shop-rating :score="review.service" label="Service"></shop-rating>
                    </v-flex>
                    <v-flex md4 xs10>
                        <shop-rating :score="review.quality" label="Kwaliteit"></shop-rating>
                    </v-flex>
                </v-layout>
                <v-layout v-show="$vuetify.breakpoint.smAndDown">
                    <v-flex xs12>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
                <v-layout row justify-center align-center>
                    <v-flex xs10>
                        <blockquote class="blockquote text-xs-center" v-show="$vuetify.breakpoint.mdAndUp">
                            {{ review.comment }}
                        </blockquote>
                        <span class="body-1 text-xs-center" v-show="$vuetify.breakpoint.smAndDown">
                            {{ review.comment }}
                        </span>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-sheet>
</template>

<script>
    import ShopRating from "./Helpers/ShopRating";

    export default {
        components: {ShopRating},
        props: {
            review: {
                type: Object,
                required: true
            }
        }
    }
</script>