<template>
    <div>
        <v-layout justify-center align-center row mt-3>
            <v-flex xs8 text-xs-center>
                <span class="font-weight-light"
                      :class="{'display-2':  $vuetify.breakpoint.mdAndUp, 'display-1':  $vuetify.breakpoint.smAndDown}">
                    <slot></slot>
                </span>
            </v-flex>
        </v-layout>
        <v-layout row justify-center my-3>
            <v-flex xs8>
                <v-divider></v-divider>
            </v-flex>
        </v-layout>
    </div>
</template>