<template>
    <default-card>
        <template v-slot:title>
            Bezorg plaatsen
        </template>
        <template v-slot:card-content>
            <v-list>
                <v-list-tile v-for="city in shop.cities" :key="city.name"
                             :to="{name: 'shops.city.overview', params: {city: city.name.toLowerCase()}}">
                    <v-layout row align-center>
                        <v-flex xs2>
                            <v-icon>location_city</v-icon>
                        </v-flex>
                        <v-flex xs5 offset-xs1>
                            <b>{{ city.name }}</b>
                        </v-flex>
                    </v-layout>
                </v-list-tile>
            </v-list>
        </template>
    </default-card>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        computed: {
            ...mapState('shops', {
                shop: 'selected_shop'
            })
        }
    }
</script>