<template>
    <v-container>
        <default-card @click="toShop">
            <v-card-title primary-title>
                <v-layout column>
                    <v-layout row align-center>
                        <v-flex xs1 ml-1>
                            <v-icon :color="shop.is_open ? 'green' : 'red'" small>brightness_1</v-icon>
                        </v-flex>
                        <v-flex xs10>
                            <div :class="{headline: $vuetify.breakpoint.mdAndUp, title: $vuetify.breakpoint.smAndDown}">
                                {{ shop.city.name }} - {{ shop.name }}
                            </div>
                        </v-flex>
                    </v-layout>
                    <p class="grey--text">{{ shop.description | truncate(75) }}</p>
                    <span><b>Telefoonnummer:</b> {{ shop.phone_number }}</span>
                </v-layout>
            </v-card-title>

            <v-card-actions>
                <v-btn color="#1e88e5" small flat :to="{
                    name: 'shop.detail',
                    params: {
                        city: this.shop.city.name.toLowerCase(),
                        slug: this.shop.slug,
                        shop: this.shop.id
                    }
                }">Meer informatie
                </v-btn>
                <v-spacer></v-spacer>
                <v-rating
                        :value="shop.average_rating"
                        background-color="grey"
                        color="yellow accent-4"
                        dense
                        half-increments
                        readonly
                        length="5"
                        size="18"
                ></v-rating>
            </v-card-actions>
        </default-card>
    </v-container>
</template>

<script>
    export default {
        props: {
            shop: {
                required: true,
                type: Object
            }
        },
        computed: {
            image() {
                if (!this.shop.image) {
                    return 'https://via.placeholder.com/250';
                }

                return this.shop.image;
            }
        }
    }
</script>