<template>
    <default-form>
        <v-layout row>
            <v-flex xs7>
                <v-layout row>
                    <v-flex xs5>
                        <v-text-field box v-model="shop.name" label="Naam"></v-text-field>
                    </v-flex>
                    <v-flex xs5 offset-xs1>
                        <v-text-field box v-model="shop.title" label="Titel"></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs5>
                        <v-text-field box v-model="shop.slug" label="Url"></v-text-field>
                    </v-flex>
                    <v-flex xs5 offset-xs1>
                        <v-text-field box v-model="shop.phone_number" label="Telefoonnummer"></v-text-field>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs4>
                        <v-text-field box v-model="shop.street" label="Straat"></v-text-field>
                    </v-flex>
                    <v-flex xs1>
                        <v-text-field box v-model="shop.house_number" label="Huisnummer"></v-text-field>
                    </v-flex>
                    <v-flex xs2 offset-xs1>
                        <v-text-field box v-model="shop.postal_code" label="Postcode"></v-text-field>
                    </v-flex>
                    <v-flex xs2 offset-xs1>
                        <v-select box dense
                                  v-model="shop.cities"
                                  :items="cities"
                                  multiple
                                  item-text="name"
                                  return-object
                                  item-value="id"></v-select>
                    </v-flex>
                    <v-flex xs2>
                        <v-select box dense
                                  v-model="shop.city"
                                  :items="shop.cities"
                                  item-text="name"
                                  item-value="id"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
                <v-layout row mt-3>
                    <v-flex xs12>
                        <v-textarea auto-grow box v-model="shop.description"
                                    label="Beschrijving"></v-textarea>
                    </v-flex>
                </v-layout>
                <v-layout>
                    <v-flex xs12>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12>
                        <h2>Producten</h2>
                    </v-flex>
                    <v-flex xs3 v-for="product in products" :key="product.id">
                        <v-checkbox v-model="selected_products" :label="product.name + ' - €' + product.price" :value="product.id"></v-checkbox>
                    </v-flex>
                </v-layout>
                <v-layout row justify-end>
                    <v-flex xs2>
                        <v-btn color="primary" @click="buildShop">Opslaan</v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs3 offset-xs1>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Maandag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[0].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[0].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Dinsdag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[1].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[1].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Woensdag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[2].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[2].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Donderdag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[3].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[3].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Vrijdag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[4].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[4].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Zaterdag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[5].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[5].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-space-around align-center>
                    <v-flex xs3>
                        Zondag:
                    </v-flex>
                    <v-flex xs4>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[6].open_from" label="Van"></v-select>
                    </v-flex>
                    <v-flex xs4 offset-xs1>
                        <v-select box dense :items="opening_hours_options" v-model="opening_hours[6].open_till" label="Tot"></v-select>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </default-form>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import opening_hours_options from '../../data/opening_hours_options';

    export default {
        data() {
            return {
                selected_products: [],
                opening_hours: [
                    {
                        open_from: '00:00',
                        open_till: '00:00'
                    }, {
                        open_from: '00:00',
                        open_till: '00:00'
                    }, {
                        open_from: '00:00',
                        open_till: '00:00'
                    }, {
                        open_from: '00:00',
                        open_till: '00:00'
                    }, {
                        open_from: '00:00',
                        open_till: '00:00'
                    }, {
                        open_from: '00:00',
                        open_till: '00:00'
                    }, {
                        open_from: '00:00',
                        open_till: '00:00'
                    }
                ],
                opening_hours_options: opening_hours_options
            }
        },
        computed: {
            ...mapState('cities', {
                cities: 'cities',
            }),
            ...mapState('products', {
                products: 'products',
            }),
            ...mapState('shops', {
                shop: 'selected_shop'
            }),
            creation() {
                return ! this.shop.id;
            }
        },
        watch: {
            creation: {
                immediate: true,
                handler(creation) {
                    if (! creation) {
                        this.opening_hours = this.shop.opening_hours;
                        this.selected_products = this.shop.products.map(product => product.id);
                    }
                }
            }
        },
        methods: {
            ...mapActions('shops', {
                resetSelectedShop: 'resetSelectedShop'
            }),
            ...mapActions('cities', {
                fetchAllCities: 'fetchAllCities'
            }),
            ...mapActions('products', {
                fetchProducts: 'fetchProducts'
            }),
            buildShop() {
                if (this.creation) {
                    axios.post(route('auth.shops.create'), {...this.shop, opening_hours: this.opening_hours, products: this.selected_products}).then(response => {
                        this.$router.push({name: 'auth.shops.images', params: {shop: response.data.id}});
                    });

                    return;
                }

                axios.put(route('auth.shops.update', {shop: this.shop.id}), {...this.shop, opening_hours: this.opening_hours, products: this.selected_products}).then(() => {
                    this.$router.push({name: 'auth.shops'});
                });
            }
        },
        mounted() {
            if (this.cities.length === 0) {
                this.fetchAllCities();
            }

            this.fetchProducts();
        },
        beforeDestroy() {
            this.resetSelectedShop();
        }
    }
</script>