<template>
    <v-parallax src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg" height="250">
        <v-layout row align-center justify-center>
            <v-flex md2 sm10>
                <v-autocomplete solo v-model="city" label="Stad" dense :items="cities" item-text="name" item-value="name"></v-autocomplete>
            </v-flex>
        </v-layout>
    </v-parallax>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        data() {
            return {
                city: 0
            }
        },
        computed: {
            ...mapState('cities', {
                cities: 'cities'
            })
        },
        watch: {
            city(city) {
                this.fetchShopsByCity(city);
            }
        },
        methods: {
            ...mapActions('shops', {
                fetchShopsByCity: 'fetchShopsByCity'
            })
        }
    }
</script>