<template>
    <v-card height="100%" width="100%" elevation="3" class="default-card">
        <slot>
            <slot name="header">
                <v-toolbar dark color="#1e88e5">
                    <v-toolbar-title><slot name="title"></slot></v-toolbar-title>
                </v-toolbar>
            </slot>
            <slot name="card-content"></slot>
        </slot>
    </v-card>
</template>