<template>
    <v-toolbar color="indigo" dark fixed app @click="toHome">
        <v-toolbar-side-icon @click.stop="setDrawer(! drawer)"></v-toolbar-side-icon>
        <v-toolbar-title>Lachgas Spot!</v-toolbar-title>
    </v-toolbar>
</template>

<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        computed: {
            ...mapState('menu', {
                drawer: 'drawer'
            })
        },
        methods: {
            ...mapActions('menu', {
                setDrawer: 'setDrawer'
            }),
            toHome() {
                this.$router.push({name: 'home'});
            }
        }
    }
</script>