<template>
    <v-navigation-drawer
            fixed
            width="200"
            app
            v-model="drawer"
    >
        <v-list dense>
            <v-list-tile @click="" :to="{name: 'home'}">
                <v-list-tile-content>
                    <v-list-tile-title>Overzicht Lachgas</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-group>
                <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>Provincies</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>

                <v-list-tile
                        v-for="province in provinces"
                        :key="province.name"
                        :to="{name: 'shops.province.overview', params: {province: province.name.toLowerCase()}}"
                >
                    {{ province.name }}
                </v-list-tile>
            </v-list-group>
            <v-list-group :value="true">
                <template v-slot:activator>
                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>Steden</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>

                <v-list-tile
                        v-for="city in cities"
                        :key="city.name"
                        :to="{name: 'shops.city.overview', params: {city: city.name.toLowerCase()}}"
                >
                    {{ city.name }}
                </v-list-tile>
            </v-list-group>
            <v-list-tile :to="{name: 'contact'}">
                <v-list-tile-content>
                    <v-list-tile-title>Contact</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile :to="{name: 'sign_in'}">
                <v-list-tile-content>
                    <v-list-tile-title>Login</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import MenuMixin from '../../mixins/MenuMixin';

    export default {
        mixins: [MenuMixin],
        computed: {
            ...mapState('cities', {
                cities: 'cities'
            }),
            ...mapState('provinces', {
                provinces: 'provinces'
            })
        },
        methods: {
            ...mapActions('cities', {
                fetchCities: 'fetchCities'
            }),
            ...mapActions('provinces', {
                fetchProvinces: 'fetchProvinces'
            })
        },
        created() {
            this.fetchCities();
            this.fetchProvinces();
        }

    }
</script>