<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Steden</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn dark flat :to="{name: 'auth.cities.create'}">Nieuwe stad</v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <v-data-table
                    :headers="headers"
                    :items="cities"
                    class="elevation-1"
                    :rows-per-page-items="[{value: -1}]"
                    hide-actions
            >
                <template v-slot:no-data>
                    <v-alert :value="true" color="error" icon="warning">
                        Geen resultaat
                    </v-alert>
                </template>
                <template v-slot:items="props">
                    <td>{{ props.item.id }}</td>
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.province.name }}</td>
                    <td>
                        <v-icon
                                class="mr-2"
                                color="secondary"
                                @click="editCity(props.item)"
                        >
                            edit
                        </v-icon>
                    </td>
                </template>
            </v-data-table>
        </template>
    </default-page>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        data() {
            return {
                headers: [
                    {text: 'ID', value: 'id'},
                    {text: 'Stad', value: 'name'},
                    {text: 'Provincie', value: 'province'},
                    {text: 'Acties', value: ''},
                ]
            }
        },
        computed: {
            ...mapState('cities', {
                cities: 'cities'
            }),
        },
        methods: {
            ...mapActions('cities', {
                fetchAllCities: 'fetchAllCities'
            }),
            editCity(city) {
                this.$router.push({name: 'auth.cities.edit', params: {city: city.id}})
            }
        },
        created() {
            this.fetchAllCities();
        }
    }
</script>