<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Verkoper toevoegen</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <shop-form></shop-form>
        </template>
    </default-page>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        methods: {
            ...mapActions('shops', {
                resetSelectedShop: 'resetSelectedShop',
            })
        },
        created() {
            this.resetSelectedShop();
        }
    }
</script>