<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Product bewerken</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <product-form></product-form>
        </template>
    </default-page>
</template>
<script>
    import {mapActions} from 'vuex';
    import ProductForm from "../../components/ProductComponents/ProductForm";

    export default {
        components: {ProductForm},
        methods: {
            ...mapActions('products', {
                fetchProduct: 'fetchProduct'
            })
        },
        created() {
            this.fetchProduct(this.$route.params.product);
        }
    }
</script>
