<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Verkoper Bewerken</v-toolbar-title>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <shop-form></shop-form>
        </template>
    </default-page>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        methods: {
            ...mapActions('shops', {
                fetchShop: 'fetchShop'
            }),
        },
        created() {
            this.fetchShop(this.$route.params.shop);
        }
    }
</script>