<template>
    <default-page>
        <product-image-uploader :product_id="product_id"></product-image-uploader>
        <v-divider></v-divider>

    </default-page>
</template>

<script>
    import ProductImageUploader from "../../components/ProductComponents/ProductImageUploader";

    export default {
        components: {ProductImageUploader},
        computed: {
            product_id() {
                return parseInt(this.$route.params.product);
            }
        },
        methods: {
            toProductOverview() {
                this.$router.push({name: 'auth.products'});
            }
        }
    }
</script>