<template>
    <default-page>
        <template v-slot:header>
            <v-toolbar dark color="primary">
                <v-toolbar-title>Verkopers</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn dark flat :to="{name: 'auth.products.create'}">Nieuwe product</v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </template>
        <template v-slot:card-content>
            <v-data-table
                    :headers="headers"
                    :items="products"
                    class="elevation-1"
                    :rows-per-page-items="[{value: -1}]"
                    hide-actions
            >
                <template v-slot:no-data>
                    <v-alert :value="true" color="error" icon="warning">
                        Geen resultaat
                    </v-alert>
                </template>
                <template v-slot:items="props">
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.description }}</td>
                    <td>{{ props.item.price }}</td>
                    <td>
                        <v-icon
                                class="mr-2"
                                color="secondary"
                                @click="imageProduct(props.item)"
                        >
                            add_a_photo
                        </v-icon>
                        <v-icon
                                class="mr-2"
                                color="secondary"
                                @click="editProduct(props.item)"
                        >
                            edit
                        </v-icon>
                        <v-icon
                                class="mr-2"
                                color="error"
                                @click="deleteProduct(props.item)"
                        >
                            delete_forever
                        </v-icon>
                    </td>
                </template>
            </v-data-table>
        </template>
    </default-page>
</template>

<script>
    import {mapActions, mapState} from 'vuex';

    export default {
        data() {
            return {
                headers: [
                    {text: 'Naam', value: 'name'},
                    {text: 'Beschrijving', value: 'description'},
                    {text: 'Price', value: 'price'},
                    {text: 'Acties', value: '', sortable: false}
                ]
            }
        },
        computed: {
            ...mapState('products', {
                products: 'products'
            }),
        },
        methods: {
            ...mapActions('products', {
                fetchProducts: 'fetchProducts'
            }),
            imageProduct(product) {
                this.$router.push({name: 'auth.products.image', params: {product: product.id}})
            },
            editProduct(product) {
                this.$router.push({name: 'auth.products.edit', params: {product: product.id}})
            },
            deleteProduct(product) {
                if (! confirm("Weet je het zeker?")) {
                    return;
                }

                axios.delete(route('auth.products.delete', {product: product.id})).then(() => {
                    this.fetchProducts();
                });
            }
        },
        created() {
            this.fetchProducts();
        }
    }
</script>