<template>
    <default-page>
        <shop-image-uploader :shop_id="shop_id" @completed="toShopOverview"></shop-image-uploader>
        <v-divider></v-divider>
        <shop-images :shop_id="shop_id"></shop-images>
    </default-page>
</template>

<script>
    import ShopImageUploader from "../../components/ShopComponents/ShopImageUploader";
    import ShopImages from "../../components/ShopComponents/ShopImages";

    export default {
        components: {ShopImageUploader, ShopImages},
        computed: {
            shop_id() {
                return parseInt(this.$route.params.shop);
            }
        },
        methods: {
            toShopOverview() {
                this.$router.push({name: 'auth.shops'});
            }
        }
    }
</script>